body{
    display: flex;
    flex-direction: column;
    text-align: center;
    color:black;
    background-color:silver;
}

a{
  text-decoration:none;
  color: navy;
}
a:hover{
  text-decoration:none;
  color: navy;
}
a:before{
  text-decoration:none;
  color: navy;
}
a:after{
  text-decoration:none;
  color: navy;
}
a:focus{
  text-decoration:none;
  color: navy;
}

form{
  display:flex;
  flex-direction:column;
}

#nav-bar{
  /*border:solid 1px black;*/
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

.nav-a:hover{
  animation: heartBeat 5s infinite;
}

#title-name{
  margin-bottom:0px;
  padding-bottom:0px;
}

#title-space{
  margin-top:0px;
  padding-top:0px;
}

#sign-div{
  border:1px solid black;
  display:flex;
  flex-direction:column;
}

.signForm{
  align-self:flex end;
  border:1px solid black;
  width:30%;
  Height:30%;
  padding:5px;
  margin:5px;
}